:root {
  --white:hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --greyish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --black: hsl(0, 0%, 0%, 1);
  --font-size: 0.9375rem;
  --font-family:'Outfit', 'sans-serif';
  --gap-8px: 8px;
  --gap-10px: 10px;
  --margin-bottom-10px: 10px;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --line-height: 1.5;
  --border-radius-10px: 10px;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
}

h1, p {
  padding: 0;
  box-sizing: border-box;
  line-height: var(--line-height);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-grey);
  font-family: var(--font-family);
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0;
}

.card {
  max-width: 300px;
  padding: 1.3rem;
  border-radius: 1.75rem;
  background: var(--white);
}

img {
  max-width: 300px;
  display: block;
  border-radius: var(--border-radius-10px);
  width: 260px;
  height: auto;
  margin-bottom: var(--margin-bottom-10px);
}

h1 {
  color: var(--dark-blue);
  font-family: var(--font-family);
  font-size: 1.375rem;
  font-weight: var(--font-weight-700);
  text-align: center;
  line-height: var(--line-height);
  gap: var(--gap-8px);
  margin-bottom: var(--margin-bottom-10px);
}

p {
  color: var(--greyish-blue);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height);
  gap: var(--gap-8px);
  margin-bottom: var(--margin-bottom-10px);
}

.attribution {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: var(--gap-10px);
  color: var(--black);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height);
  margin-top: 2rem;
}
